body{
    background-color:white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding:0px;
    
}
h1{
    color: blue;
}
img{
     width: 100px;
    height: 100px;
    border-radius: 500px;
    margin: 5px;
    padding:5px;
    display: flex;
}
strong{
    color: blue;
}
p{
     margin: 15px;
     padding:15px;
}
select{
     margin: 15px;
     padding:5px;
     width: 175px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    color: white;
}