body{
    background-color:white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding:0px;
    
}
select{
     margin: 15px;
     padding:5px;
     width: 175px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    color: white;
}
h1{
    color: blue;
}