body{
    background-color:white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding:0px;
    
}
.submit input{
    width: 110px;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    margin: 5px;
    padding: 5px;
    color: white;
}
fieldset{
    border-radius: 45px;
    width: 250px;
    height: 345px;
}
p{
     margin: 10px;
     padding:5px;
     
}
a{
    text-decoration: none;
    color: blue;
}
h1{
    color: blue;
}

fieldset{
    border-color:blueviolet;
    
}