body{
    background-color:white ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding:0px;
    
}
h1{
    color: blue;
}
.Galerieimages img{
  border-radius: 50px;
  width: 300px;
  height: 350px;
}